{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {poly/store {:local/root "components/store"}
                               poly/time {:local/root "components/time"}
                               poly/user {:local/root "components/user"}
                               poly/place {:local/root "components/place"}
                               poly/room {:local/root "components/room"}
                               poly/book {:local/root "components/book"}

                               poly/api {:local/root "bases/api"}

                               aero/aero {:mvn/version "1.1.6"}
                               integrant/integrant {:mvn/version "0.13.1"}
                               integrant/repl {:mvn/version "0.4.0"}
                               cider/cider-nrepl {:mvn/version "0.57.0"}

                               fmnoise/flow {:mvn/version "4.3.0"}
                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths []}

            :portal {:extra-deps {djblue/portal {:mvn/version "0.60.2"}}}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}}}}
