{:paths ["src" "resources"]
 :deps {buddy/buddy-sign {:mvn/version "3.5.351"}
        buddy/buddy-hashers {:mvn/version "2.0.167"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
