{:deps {poly/store {:local/root "../../components/store"}
        poly/time {:local/root "../../components/time"}
        poly/user {:local/root "../../components/user"}
        poly/place {:local/root "../../components/place"}
        poly/room {:local/root "../../components/room"}
        poly/book {:local/root "../../components/book"}
        poly/flight {:local/root "../../components/flight"}

        poly/api {:local/root "../../bases/api"}
        
        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :uberjar {:main airbbb.api.core}}
 }
